.form {
    top: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
}
.form-title {
    height: 5%;
}
.form-page {
    margin-left: 0;
    margin-right: 0;
    height: 95%;
}
.workzone {
    width: 100%;
    height: 100%;
}
.sidemenu {
    height: 100%;
    width: 20%;
    flex-direction: column;
}
.task-add-button {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #FFF;
    background-color: lightgreen;
    color: #FFF;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.task-add-button:hover {
    background-color: lightseagreen;
}
.task-info {
    width: 100%;
    height: 90%;
    background-color: darkturquoise;
}
.task-info-title {
    width: 100%;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
}