.task{
    width: 100%;
    height: 200px;
    background-color: skyblue;
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
}
.task:hover {
    background-color: lavender;
}
.task-title {
    font-size: 25px;
    font-weight: bold;
    height: 35px;
    background-color: cadetblue;
    border-radius: 5px 5px 0 0;
}
.task-datetime {
    font-weight: bold;
    font-size: 18px;
}
.task-dates {
    width: 50%;
    justify-content: space-between;
}
.task-datetime-title {
    padding: 0 !important;
    width: 150px;
}
.task-datetime-content {
    width: 300px;
    font-weight: bold;
}
.task-time {
    width: 50%;
    justify-content: space-between;
}
.desc-title {
    padding: 0 ! important;
    font-weight: bold;
    font-size: 18px;
}
.task-desc {
    flex-direction: column;
    max-width: 80%;
    overflow-y: hidden;
}
.desc-info {
    word-wrap: break-word;
    overflow: break-word;
    word-break: break-all;
    max-height: 45%;
    overflow-y: hidden;
}
.task div {
    padding-left: 5px;
}
