.task-board-container {
    width: 100%;
}
.task-board {
    flex-direction: column;
    padding-left: 1px;
    padding-right: 3px;
}
.task-board-container > ul {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: hidden;
    padding-bottom: 5px;
}
.task-board-container > ul:hover {
    overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.task-board-container > ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.task-board-container > ul::-webkit-scrollbar-thumb {
    border-radius: 2px;
	background-color: darkturquoise;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}