* {
  margin: 0;
  padding: 0;
}
.page {
  height: 100vh;
  background: blanchedalmond;
}
.form {
  position: relative;
  top: 25%;
  width: 30%;
  height: 40%;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.form-title {
  text-align: center;
  font-size: 35px;
  background-color: cornflowerblue;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  padding-bottom: 3px;
}
.form-page {
  display: flex;
  flex-direction: column;
  margin: 1px 20px 0 15px;
  justify-content: space-around;
  height: 70%;
}
.form-page input {
  width: 100%;
  border-style: outset;
  border-bottom: none;
  border-right: none;
  background-color: #E0F2F7;
  font-size: 15px;
}
.form-page input:hover {
  background-color: #E0F2DA;
}
.form-page div {
  display: flex;
}
.form-label {
  font-size: 18px;
}
.form-button {
  width: 45%;
  height: 50px;
  background-color: wheat;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  border-radius: 5px;
  margin: 5px auto;
  cursor: pointer;
}
.form-button_mini {
  width: 30%;
}
.form-button:hover {
  color: #FFF;
  background-color: burlywood
}